.home,
.home .banner {
  width: 420px;
  height: 380px;
  margin: 5px auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 2px;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  -ms-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  -o-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.home .banner .banner-text {
  padding: 10px;
  padding-top: 60px;
}
.home .banner .banner-text h1 {
  font-family: "Consolas", arial, sans-serif;
  text-align: center;
  color: #000;
  padding-bottom: 10px;
}
.home .banner .banner-text h3 {
  font-size: 1.4em;
  font-family: 'Shadows Into Light', cursive, arial, sans-serif;
  color: #c0c0c0 !important;
  text-align: center;
  letter-spacing: 5px;
  color: #c0c0c0;
}
@media only screen and (max-width: 768px) {
  .home {
    width: 320px;
    margin: 40px auto;
  }
}
@media only screen and (max-width: 374px) {
  .home {
    width: 260px;
    margin: 30px auto;
  }
}
@media only screen and (max-width: 768px) {
  .home .banner {
    width: 320px;
    margin: 40px auto;
  }
}
@media only screen and (max-width: 374px) {
  .home .banner {
    width: 260px;
    margin: 30px auto;
  }
}
.social {
  margin-top: 40px;
  padding: 0;
  font-size: 24px;
  text-align: center;
}
.social li {
  display: inline-block;
  margin: 0 26px;
  padding: 0;
}
.social li a {
  color: #adadad;
}
.social li a:hover {
  color: #11abb0;
}
@media only screen and (max-width: 768px) {
  .social li {
    margin: 0 16px;
  }
}
@media only screen and (max-width: 374px) {
  .social li {
    margin: 0 10px;
  }
}
